.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.split1 {
	height: 90%;
	width: 45vw;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	margin-top: 70px;
}
.split2 {
	height: 90%;
	width: 45vw;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
	margin-top: 70px;
}

.left {
	left: 0;
	background-color: white;
}

.right {
	right: 0;
	background-color: gainsboro;
}

.input {
	color: black;
	font-size: 20px;
	padding: 20px;
}
.output {
	padding: 20px;
	color: black;
}

.input-container {
	display: block;
	margin-top: 20px;
}

.content {
	margin-top: 40px;
}
